body{
	background-color: #eaeaea;
	margin: 0;
	padding: 0;
}

/*960 grid

https://960.gs/demo.html <-- find all the measurements

*/
.wrapper{
	width: 960px;
	height: 100%;
	margin: 20px auto 20px auto;
	background-color: white;
	display: block;
}

/* Meterial design lettertypes (material.io)

https://material.io/design/typography/the-type-system.html#type-scale <-- according to

*/

h1{
	font-family: 'Roboto', sans-serif;
	letter-spacing: -1.5;
	text-align: center;
	font-size: 96px;
	text-decoration-style: regular;
	margin: 0px;
	padding: 0px;
}
h2{
	font-family: 'Roboto', sans-serif;
	letter-spacing: -0.5;
	text-align: center;
	font-size: 60px;
	margin: 0px;
	padding: 0px;
}
h3{
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0;
	text-align: center;
	font-size: 48px;
	margin: 0px;
	padding: 0px;
}
h4{
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.25;
	text-align: center;
	font-size: 34px;
	margin: 0px;
	padding: 0px;
}
h5{
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0;
	text-align: center;
	font-size: 24px;
	margin: 0px;
	padding: 0px;
}
h6{
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.15;
	text-align: center;
	font-size: 20px;
	margin: 0px;
	padding: 0px;
}

/*Clean Submit Button

Colors can be ajusted according to https://material.io/design/color/the-color-system.html#tools-for-picking-colors
Font can be ajusted


*/

button{
	width: 150px;
	height: 40px;
	padding: auto;
	text-align: center;
    display: block;
    font-size: 16px;
    margin: 5px auto;
    cursor: pointer;
}
#button1{
	background-color: #757575;
	border-radius: 20px;
	border: 3px solid #424242;
	font-family: 'Roboto', sans-serif;
	color: #212121;
}
#button1:hover{
	background-color: #616161;
	color: #212121;
}
